@model IEnumerable<App.Domain.Entities.Consultation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Schedule)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConsultationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConsultationDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConsultationCreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConsultationUpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConsultationDeletedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Schedule.ScheduleEnvironment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.TeacherAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.StudentAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsultationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsultationDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsultationCreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsultationUpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsultationDeletedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
