@model App.Domain.Entities.CompanyConfig

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CompanyConfig</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company.CompanyAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyConfigEnabled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyConfigEnabled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyConfigTimeZone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyConfigTimeZone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyConfigAllowOneOnOneSessions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyConfigAllowOneOnOneSessions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyConfigEnableMaterialTracking)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyConfigEnableMaterialTracking)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyConfigThemeColour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyConfigThemeColour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyConfigCompanyLogoPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyConfigCompanyLogoPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyConfigCreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyConfigCreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyConfigUpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyConfigUpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyConfigMaxStudentsPerCourse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyConfigMaxStudentsPerCourse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyConfigEnableCertificates)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyConfigEnableCertificates)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
