@model IEnumerable<App.Domain.Entities.Teacher>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComapanyUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherNativeLanguage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherNationality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherGender)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Company.CompanyAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComapanyUser.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherNativeLanguage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherNationality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherGender)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
