@model App.Domain.Entities.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company.CompanyAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyUser.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentNativeLanguage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentNativeLanguage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentNationality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentNationality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentGender)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
