@model App.Domain.Entities.ReagentType

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ReagentType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReagentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReagentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReagentDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReagentDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DefaultStorage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DefaultStorage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HazardLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HazardLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StandardConcentration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StandardConcentration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialFilePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaterialFilePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsHazardous)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsHazardous)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColorCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColorCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
