@model IEnumerable<App.Domain.Entities.MaterialDistribution>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Enrollment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaterialDistributionCreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaterialDistributionModifiedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaterialDistributionDeletedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Enrollment.EnrollmentSeason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Material.MaterialDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaterialDistributionCreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaterialDistributionModifiedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaterialDistributionDeletedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
