@model App.Domain.Entities.Company

@{
    ViewData["Title"] = "Company Details";
}

<h1>Company Details</h1>

<div>
    <h4>@Model.CompanyName</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Company Name</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.CompanyName)</dd>
        <dt class="col-sm-2">Address</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.CompanyAddress)</dd>
        <dt class="col-sm-2">Phone Number</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.CompanyPhoneNumber)</dd>
        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.CompanyEmail)</dd>
        <dt class="col-sm-2">Status</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.CompanyStatus)</dd>
    </dl>
</div>

<div class="mt-4">
    <h5>Company Users</h5>
    <div class="row">
         <div class="col-md-4">
             <h6>Admins:</h6>
             <ul>
             @foreach (var user in Model.CompanyUsers.Where(cu => cu.Roles.HasFlag(App.Domain.Entities.ECompanyRoles.Admin)))
             {
                 <li>@user.AppUser.FirstName @user.AppUser.LastName (@user.AppUser.Email)
                     @if (TempData["AdminUserId"]?.ToString() == user.AppUserId.ToString())
                     {
                         <br /><strong>Initial Password: @TempData["AdminPassword"]</strong>
                     }
                 </li>
             }
             </ul>
         </div>
         <div class="col-md-4">
             <h6>Managers:</h6>
             <ul>
             @foreach (var user in Model.CompanyUsers.Where(cu => cu.Roles.HasFlag(App.Domain.Entities.ECompanyRoles.Manager)))
             {
                 <li>@user.AppUser.FirstName @user.AppUser.LastName (@user.AppUser.Email)
                     @if (TempData["ManagerUserId"]?.ToString() == user.AppUserId.ToString())
                     {
                         <br /><strong>Initial Password: @TempData["ManagerPassword"]</strong>
                     }
                 </li>
             }
             </ul>
         </div>
        <div class="col-md-4">
            <h6>Teachers:</h6>
            <ul>
            @foreach (var user in Model.CompanyUsers.Where(cu => cu.Roles.HasFlag(App.Domain.Entities.ECompanyRoles.Teacher)))
            {
                <li>@user.AppUser.FirstName @user.AppUser.LastName (@user.AppUser.Email)</li>
            }
            </ul>
        </div>
    </div>
</div>

<div class="mt-4">
    <h5>Actions</h5>
    <a asp-action="CreateAdmin" asp-route-companyId="@Model.Id" class="btn btn-primary mr-2">Create Admin</a>
    <a asp-action="CreateManager" asp-route-companyId="@Model.Id" class="btn btn-primary mr-2">Create Manager</a>
    <a asp-action="CreateTeacher" asp-route-companyId="@Model.Id" class="btn btn-primary">Create Teacher</a>
</div>

<div class="mt-4">
    <a asp-action="Index" class="btn btn-default">Back to Companies List</a>
</div>
