@model IEnumerable<App.Domain.Entities.Reagent>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReagentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReagentDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CASNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChemicalFormula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MolecularWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Concentration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StorageConditions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SafetyNotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaterialFilePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReagentType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReagentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReagentDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CASNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChemicalFormula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MolecularWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Concentration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StorageConditions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SafetyNotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaterialFilePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReagentType.ReagentName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
