@model App.Domain.Entities.Certification

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Certification</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CertificationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CertificationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HandedOver)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HandedOver)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Expired)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Expired)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstituteUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstituteUser.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CertificationType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CertificationType!.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
