@model App.Domain.Entities.PlacementTest

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PlacementTest</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Language.LanguageDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Level.LevelDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlacementTestName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlacementTestName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlacementTestDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlacementTestDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlacementTestGrade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlacementTestGrade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlacementTestPassed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlacementTestPassed)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
