@model IEnumerable<App.Domain.Entities.Availability>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Teacher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailabilityStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailabilityEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailabilityCreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailabilityUpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailabilityDeletedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.TeacherAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailabilityStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailabilityEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailabilityCreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailabilityUpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailabilityDeletedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
