@model App.Domain.Entities.AttendanceRecord

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AttendanceRecord</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Enrollment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Enrollment.EnrollmentSeason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Schedule.ScheduleEnvironment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConfirmedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConfirmedBy.TeacherAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttendanceRecordCreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttendanceRecordCreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttendanceRecordUpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttendanceRecordUpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttendanceRecordDeletedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttendanceRecordDeletedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Attendance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Attendance)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
