@model IEnumerable<App.Domain.Entities.Subs>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StandardPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PremiumPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubsCreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubsUpdatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Company.CompanyAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StandardPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PremiumPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubsCreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubsUpdatedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
